<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="background-color: #0c0c0c; color: white;">
    <form method="GET">
        <div class="input-group container mt-5">
            <input name="ytlink" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button type="submit" class="ml-2 btn btn-outline-primary">Primary</button>
        </div>
    </form>

    {% if downloadLink %}
        <p class="text-center"><a href={{downloadLink}}> İndir</a></p>
    {% endif %}
</body>
</html>